.project-box {
    background-color: var(--container-bg);
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* 모달이 열려 있을 때 호버 효과를 비활성화 */
.portfolio.modal-open .project-box:hover {
    transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: default;
}
