:root {
    --primary-color: #314b65;
    --secondary-color: #000000;
    --accent-color: #000000;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --light-text-color: #414444;
    --container-bg: #ffffff;
    --border-color: #cbc8c8;
}

body.light {
    --primary-color: #314b65;
    --secondary-color: #000000;
    --accent-color: #000000;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --light-text-color: #414444;
    --container-bg: #ffffff;
    --border-color: #cbc8c8;
}

body.dark {
    --primary-color: #1b1b1b;
    --secondary-color: #ffffff;
    --accent-color: #ffffff;
    --background-color: #2c3e50;
    --text-color: #ecf0f1;
    --light-text-color: #c5c6c7;
    --container-bg: #314b65;
    --border-color: #414444;
}

body {
    font-family: "Goorm Sans", Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--accent-color);
}

.header-text {
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 5px 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

section {
    background-color: var(--container-bg);
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

h2 {
    margin-top: 0;
    color: var(--secondary-color);
    font-size: 1.5rem;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-category {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.skill-category h3 {
    color: var(--accent-color);
    margin-top: 0;
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill-category li {
    margin-bottom: 5px;
    padding: 5px 0;
    border-bottom: 1px solid var(--border-color);
}

.skill-category li:last-child {
    border-bottom: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container-list {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.container-list:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

li:last-child {
    border-bottom: none;
}

li h3 {
    margin: 0;
    color: var(--accent-color);
    font-size: 1.2rem;
}

li p {
    margin: 5px 0;
    color: var(--light-text-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-top: 1px solid var(--border-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.modal-open section:hover, .modal-open .project-box:hover {
    transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: default;
}

@media (max-width: 1024px) {
    .container {
        max-width: 90%;
        padding: 10px;
    }

    header {
        padding: 20px 10px;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    p,
    li {
        font-size: 0.9rem;
    }

    section {
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 90%;
        padding: 10px;
    }

    header {
        flex-direction: column;
        padding: 10px 5px;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    p,
    li {
        font-size: 0.8rem;
    }

    .skills-grid {
        flex-direction: column;
    }

    .skill-category {
        flex: 1 1 100%;
    }

    section {
        padding: 10px;
    }
}
